<div class="container">
  <div class="row">
    <h3>ユーザー一覧</h3>
  </div>
  <div class="row">

    <% @users.each do |user| %>
      <% if user.status == 1%>
        <%= user.name %>
        <%= user.introduction %>
      <% end %>
    <% end %>
  </div>
</div>