<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3><%= @user.name %>のページ</h3>
    </div>
    <div class="col-md-2 p-3 my-5 bg-light rounded"> 
      <%= render 'profile', user: @user %>
    </div>
  </div>
</div>