<% random.each do |post| %>
  <% if post.user.publish? %>
    <div class="slide-item text-center">
      <i class="slide-word">
      <%= post.word %></i>
      <p class="slide-source">
      <%= post.source %></p>
    </div>
  <% end %>
<% end %>