<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h3>運営者情報</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mb-5">
      <div class="p-5 bg-light rounded">
        <h3>略歴</h3>
        <p>1991年、愛知県名古屋市生まれ。<br>
        小さい頃からおとなしくて手のかからない子だったらしい。<br>
        幼少期は、絵を描くこと、歌を歌って踊ること、読書が好きだった。</p>
        <p>中学時代は部活の演劇に励む。主役を演じたこともある。<br>
        理科が好きで理科の教師になるのが夢。県立の進学校に進む。</p>
        <p>中学時代のいじめが嫌いだったこと、<br>
        より自己について知りたかったこと、<br>
        精神的に苦しんでいる人を助けたいという思いから、<br>
        心理学を学びたいと思うようになる。</p>
        <p>2010年、中京大学心理学部に入学。<br>
        教育心理学のゼミに入り、卒論は「心理学部生が大学で勉強する動機」。</p>
        <p>大学3年の時始めたスーパーのアルバイトで、売る楽しさ、働く楽しさを感じ、<br>
        正社員になって発注や売場作りも経験したいと思うようになる。<br>
        正社員が遅くまで残っているのを見て問題意識を感じ、<br>
        パートやアルバイトでもまわせる仕組みづくりをしたいとも思った。</p>
        <p>2014年、某スーパーに就職し、千葉へ引越し。青果担当として働く。<br>
        2017年、青果マネジャー就任。<br>
        2019年、自店舗の改装をきっかけにITの必要性を感じ、自ら開発したいと思うようになる。<br>
        その年、入社から5年8ヶ月、マネジャー歴丸2年で退職。</p>
        <p>2020年2月、プログラミングスクールにて勉強を開始。<br>
        今でも小売業に恩があり、小売業で働く人の負担を減らすシステム・サービス作りをするのが夢。</p>
      </div>
    </div>
    <div class="col-md-3 p-4 mb-5 bg-light rounded">
    <div class="text-center mb-4">
      <%= image_tag 'nose.jpg', :size => '160x160', class: "info-image" %>
    </div>
    <p>運営者：のせ</p>
    <span>アラサー独身女<br>
    小売業→バックエンドエンジニア目指し中<br>
    趣味は旅行、散歩、カフェ巡り<br>
    Youtube見ること、カラオケ<br>
    </span>
    </div>
  </div>
</div>