<div class="top-page">
  <div class="container">
    <div class="row">
      <h3 class="pt-5 mx-auto">あなたが救われた言葉を教えてください</h3>

      <div class="random-slide col-md-10 mx-auto mt-3 rounded">
        <%# ランダムスライド %>
        <%= render 'random', random: @random %>
      </div>

      <h3 class="pt-5 mx-auto">コトダマは、あなたが救われた言葉を記録、共有するサイトです</h3>
    </div>
    <div class="row">
      <ul class="about list-unstyled mt-3">
        <li class="col-md-3 offset-1 p-3 mb-5 bg-light rounded">
          <%#= image_tag 'memo.jpg' %><p class="text-center"><%= image_tag 'pancake.png', :size => '160x140' %></p>
          <p class="mt-4">救われた言葉を記録し、落ち込んだときなどにすぐに見返すことができます。言葉にまつわるエピソードも教えてください。</p>
        </li>
        <li class="col-md-3 p-3 mx-5 mb-5 bg-light rounded">
          <%#= image_tag 'good.jpg' %><p class="text-center"><%= image_tag 'sandwich.png', :size => '160x160' %></p>
          <p>他の人の救われた言葉も見ることができます。お気に入り登録をすればマイページのスライドで流すことができます。</p>
        </li>
        <li class="col-md-3 p-3 mb-5 bg-light rounded">
          <%#= image_tag 'comment.jpg' %><p class="text-center"><%= image_tag 'purin.png', :size => '160x160' %></p>
          <p>単語やカテゴリーで検索することができます。投稿の公開・非公開設定やコメントもできます。</p>
        </li>
      </ul>
    </div>
  </div>
</div>