<h3>あなたが救われた言葉を教えてください</h3>

<%# ランダムスライド %>

<h3>コトダマは、あなたが救われた言葉を記録、共有するサイトです</h3>
<ul class="about">
  <li>救われた言葉を記録し、落ち込んだときなどにすぐに見返すことができます。</li>
  <li>他の人の救われた言葉も見ることができます。お気に入り登録をすればマイページで流すことができます</li>
  <li>コメントでその言葉にまつわるエピソードを教えてください。ジャンルやハッシュタグで検索できます。</li>
</ul>