<table class="table mt-3">
  <tr>
    <th>エピソード</th>
    <th>ジャンル</th>
    <th>言葉</th>
    <th></th>
  </tr>
  <% @posts.each do |post| %>
    <% if post.episode.present? %>
      <% if post.released? || post.user.released? || post.user == current_user %>
        <tr>
          <td>
            <% unless post.released? %>
              <i class="fas fa-lock"></i>
            <% end %>
            <%= post.episode %>
          </td>
          <td>
            <%= post.genre %>
          </td>
          <td>
            <%= post.word %>
          </td>
          <td>
            <%= link_to "詳細", post_path(post), class: "btn btn-move" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>