<table class="table mt-3">
  <tr>
    <th class="w-50">言葉</th>
    <th>引用元</th>
    <th>カテゴリー</th>
    <th></th>
  </tr>
  <% @posts.each do |post| %>
    <% if post.released? && post.user.publish? || post.user == current_user %>
      <tr>
        <td>
          <% if post.nonreleased? || post.user.privated? %>
            <i class="fas fa-lock"></i>
          <% end %>
          「<i><%= post.word %></i>」
        </td>
        <td>
          <%= post.source %>
        </td>
        <td>
          <%= t("enumerize.post.category.#{post.category}") %>
        </td>
        <td>
          <%= link_to "詳細", post_path(post), class: "btn btn-move" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>