// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-page {
  background: image-url('soda.jpg');
  background-size: cover;
}

.about {
  display: flex;
}

li {
  box-sizing: border-box;
}

.slide-word {
  font-size: 32px;
}

.slide-source {
  font-size: 24px;
}
