// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.random-slide {
  width: 100%;
  height: 500px;
  background: #a0d8ef;
  .slide-item {
    margin-top: 160px;
  }
}

.top-page {
  background: image-url('soda.jpg');
  background-size: cover;
}

.about {
  display: flex;
}

li {
  box-sizing: border-box;
}

.slide-word {
  font-size: 40px;
}

.slide-source {
  font-size: 32px;
}
