// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label {
  background: #ff3333;
  color: #fff;
  font-size: 12px;
}

.word-header {
  font-size: 30px;
}

.search_form {
  display: inline-block;
}

.form-control {
  width: 200px;
}

.word_form {
  width: 300px;
}