// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_form{
  display: none;
}

.username {
  font-size: 24px;
}

.mypage {
  .slide-word {
    font-size: 24px;
  }
  .slide-source {
    font-size: 16px;
  }
}