<div class="container">
  <div class="row">
    <ul>
      <li><%= link_to "運営者情報", "#" %></li>
      <li><%= link_to "プライバシーポリシー", "#" %></li>
      <li><%= link_to "お問い合わせ", "#" %></li>
    </ul>
    <p>©️2020 nose</p>
  </div>
<div>