<footer>
  <div class="container">
    <div class="row">
      <ul class="list-unstyled">
        <li class="mr-3"><%= link_to "運営者情報", "#",class: "text-decoration-none" %></li>
        <li class="mr-3"><%= link_to "プライバシーポリシー", "#",class: "text-decoration-none" %></li>
        <li class="mr-3"><%= link_to "お問い合わせ", "#",class: "text-decoration-none" %></li>
      </ul>
      <div class="container">
        <div class="row">
          <p class="mx-auto">©️2020 nose</p>
          <p>logo is <a href="https://www.designevo.com/jp/logo-maker/" title="無料オンラインロゴメーカー">DesignEvo</a></p>
        </div>
      </div>
    </div>
  <div>
</footer>
